head
	meta(charset="utf-8")
	title Jollen's Blog

	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	meta(name='description', content='')
	meta(name='author', content='')
	link(href='http://cdn.innoboard.cc/vendor/css/bootstrap.min.css', rel='stylesheet')
	link(href='http://cdn.innoboard.cc/vendor/css/blog-post.css', rel='stylesheet')
	link(href='http://cdn.innoboard.cc/vendor/font-awesome/css/font-awesome.css', rel='stylesheet')