extends layout

block feet
  script(src='views/index.js')

block content
    .container
        .row
            .col-lg-8
              div#blog-post
            .col-md-4
              .well#search-section
                h4 Author Search
                .input-group
                  input.form-control#search-tag(type='text')
                  span.input-group-btn
                    button.btn.btn-default.btn-search(type='button')
                      span.glyphicon.glyphicon-search
              .well#search-result
        .row#form-section

    script(type='text/template', id='tmpl-post')
      div#actions
        .btn-group
          button.btn.btn-primary.btn-filter 日期排序
          button.btn.btn-primary.btn-format 日期格式
      <% _.each(posts, function(post) { %>
      .well(style='margin-top: 20px;')
        h1 <%= post.subject %>
        p.lead
          | by
          | &nbsp;<%= post.userId.facebook.displayName %>
        p
          span.glyphicon.glyphicon-time
          | Posted on 
          span.post-date <%= post.userId.timeCreated %>
        img.img-responsive(src='http://placehold.it/900x300', alt='')
        p.lead
          | <%= post.content %>
      <% }); %>

    script(type='text/template', id='tmpl-results')
      h4 Search Result
      <% _.each(posts, function(post) { %>
      p <%= post.subject %>
      <% }); %>

    script(type='text/template', id='tmpl-form')
      form.form-horizontal
        h3 Leave a Message
        .input-group
          label.control-label(for='subject') Subject
          input.form-control#subject(name='subject', type='text')
        .input-group
          label.control-label(for='subject') Content
          textarea.form-control#content(name='content')
        .input-group
          button#btn-submit.btn.btn-primary(name='btn-submit') Save










